<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8"/>
    <title>{% block title %}{% endblock %}</title>

    <link rel = "icon" type = "image/x-icon" href = "{{ asset('favicon.ico') }}"/>

    {% block librerias %}
        <!--Import Google Icon Font-->
        <link href = "http://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

        <!--Import materialize.css-->
        <link type = "text/css" rel = "stylesheet"
              href = "{{ asset('libs/materialize0.97.6/css/materialize.min.css') }}"
              media = "screen,projection"/>


        <!--Import jQuery before materialize.js-->
        <script type = "text/javascript" src = "{{ asset('libs/materialize0.97.6/js/jquery-2.2.3.min.js') }}"></script>
        <script type = "text/javascript" src = "{{ asset('libs/materialize0.97.6/js/materialize.min.js') }}"></script>

        <!--Iconos -->
        <link rel = "stylesheet" href = "{{ asset('libs/font-awesome-4.5.0/css/font-awesome.min.css') }}">

        <!--Let browser know website is optimized for mobile-->
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>

        <!--Contador-->
        <script src = "{{ asset('libs/countdown/jquery.countdown.min.js') }}"></script>

        <link rel = "stylesheet" href = "{{ asset('libs/lolibox/css/Lobibox.min.css') }}">
        <script src = "{{ asset('libs/lolibox/js/lobibox.min.js') }}"></script>

        <script src = "{{ asset('libs/utils/utils.js') }}"></script>

        <!--jquery validation !-->
        <script src = "{{ asset('libs/validation/jquery.validate.js') }}"></script>
        <script src = "{{ asset('libs/validation/additional-methods.js') }}"></script>
        <script src = "{{ asset('libs/validation/localization/messages_es.js') }}"></script>

        <!--mask-->
        <script src = "{{ asset('libs/mask/jquery.mask.js') }}"></script>

        {% block style %}
        <style>
            header, footer, main {
                padding-left: 0px;
            }
        </style>

        {% endblock %}


    {% endblock %}

    {% block jquery %}{% endblock %}

</head>

<body>

{#Para determinar que ciudad es la que se encuentra el usuario
 y de acuerdo a eso pasarla en la ruta de OFERTA DEL DIA
 si la url no lleva una ciudad se mostrara las ofertas del dia de la ciudad por defecto
 MADRID si no a la q pertenece el usuario
 #}
{% set ciudadSeleccionada =  app.request.attributes.has('ciudad')? app.request.attributes.get('ciudad') : 'madrid' %}

{% block header %}
    <header>

        {#
        Este se usa si se desea pasar un argumento al controlador

        {% set ciudadSeleccionada =  app.request.attributes.has('ciudad')? app.request.attributes.get('ciudad') : 'madrid' %}

        {{ render(controller('AppBundle:Ciudad:listaCiudades',{ 'ciudad' : ciudadSeleccionada } ) ) }}
        #}
        {{ render(controller('AppBundle:Ciudad:listaCiudades' ) ) }}
        <!--TopNav o AppBar-->

        <div class="navbar-fixed">
            <nav class = "blue darken-2">

                <div class = "nav-wrapper">
                    <div class = "">
                        <a class = "brand-logo" href = "{{ path('homepage') }}">Cupon</a>
                        <a href="#" data-activates="barraMenu" class="button-collapse" style = "margin-left: 25px"><i class="material-icons">menu</i></a>

                        <ul class = "right hide-on-med-and-down hide-on-small-and-down">
                            <li><a href = "{{ path('homepage') }}">Oferta del
                                    dia</a></li>
                            {# Se hace uso del valor que almacena ciudadSeleccionada de acuerdo al valor que posee la  URL#}
                            <li><a href = "{{ path('recientes', {'ciudad': ciudadSeleccionada }) }}">Ofertas
                                    Recientes</a></li>
                            <li><a href = "{{ path('compras') }}">Mis Ofertas</a></li>
                            <li><a class = "dropdown-button tooltipped " data-position = "left" data-delay = "30"
                                   data-tooltip = "Ofertas del dia en otras ciudades" href = "#!"
                                   data-activates = "dropdown">Seleccione una ciudad<i class = "material-icons right">arrow_drop_down</i></a>
                            </li>
                            {% if is_granted('ROLE_USUARIO') %}
                                <li><a class = "dropdown-buttonUsuario" data-position = "bottom" data-delay = "50"
                                       href = "#!" data-activates = "dropdownUsuario">
                                        <i class = "material-icons left">account_circle</i>

                                        {# Obtengo el nombre del usuario sin colocar el token en el contralador #}
                                        {{ app.user.nombre ~ ' ' ~ app.user.apellidos }}

                                    </a>
                                </li>

                            {% endif %}
                        </ul>

                        <!--SideNav!-->
                        <ul class="side-nav" id="barraMenu">
                            <li class = "logo" style = "margin-bottom: 110px; margin-top: 10px">
                                <a id = "logo-container" href = "{{ path('portadaExtranet') }}" class = "brand-logo center">
                                    <img src = "{{ asset('imagenes/logo.jpg') }}" style = "height: 100px">
                                </a>
                            </li>
                            <li><a href = "{{ path('homepage') }}" class = "waves-effect waves-light"><i
                                            class = "material-icons left">event</i>Oferta
                                    del dia</a></li>
                            <li><a href = "{{ path('recientes', {'ciudad': ciudadSeleccionada }) }}">
                                    <i class="material-icons left">description</i>Ofertas Recientes</a></li>
                            <li><a href = "{{ path('compras') }}"> <i class="material-icons left">add_shopping_cart</i>
                                    Mis Ofertas</a></li>


                            {% if is_granted('ROLE_USUARIO') or is_granted('ROLE_ADMINISTRADOR') %}
                                <li class = "no-padding">
                                    <ul class = "collapsible collapsible-accordion">
                                        <li>
                                            <a class = "collapsible-header waves-effect waves-teal"><i
                                                        class = "material-icons left">account_circle</i>{{ app.user.nombre ~ ' ' ~ app.user.apellidos }}
                                            </a>
                                            <div class = "collapsible-body">
                                                <ul>
                                                    <li><a href = "{{ path('perfilUsuario') }}"
                                                           style = "background-color: transparent">Ver mi
                                                            Perfil</a></li>
                                                    <li><a href = "{{ path('logout') }}"
                                                           style = "background-color: transparent">Cerrar Sesion</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}



                        </ul>

                        <ul id = "dropdownUsuario" class = "dropdown-content">
                            <li><a href = "{{ path('perfilUsuario') }}">Ver mi perfil</a href = "{{ path('perfilUsuario') }}"></li>
                            <li><a href = "{{ path('logout') }}">Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </header>
{% endblock %}

<main class = "container">

    {% block body %}{% endblock %}

</main>

{% block footer %}

    <footer class = "page-footer blue accent-1">
        <div class = "container">
            <div class = "row">
                <div class = "col l6 s12">
                    <h5 class = "white-text">Nuestros Enlaces</h5>
                    <ul>
                        <li><a href = "{{ path('pagina_estatica' , {'pagina_estatica' : 'ayuda'}) }}"
                               class = "white-text ">Ayuda</a></li>
                        <li><a href = "{{ path('pagina_estatica' , {'pagina_estatica' : 'contacto'}) }}"
                               class = "white-text">Contacto</a></li>
                        <li><a href = "{{ path('pagina_estatica' , {'pagina_estatica' : 'privacidad'}) }}"
                               class = "white-text">Privacidad</a></li>
                        <li><a href = "{{ path('pagina_estatica' , {'pagina_estatica' : 'sobre-nosotros'}) }}"
                               class = "white-text">Sobre nosotros</a></li>
                    </ul>
                </div>

                <div class = "col l4 offset-l1 s12">
                    <h5 class = "white-text">Nuestras Redes Sociales</h5>
                    <ul class = "fa-ul ">
                        <li><i class = "fa-li fa fa-facebook-square fa-4"></i><a href = ""
                                                                                 class = "black-text">Facebook</a></li>
                        <li><i class = "fa-li fa fa-google-plus"></i>Google +</li>

                    </ul>

                </div>
            </div>
        </div>
        <div class = "footer-copyright">
            <div class = "container center-align">© {{ 'now' | date('Y') }} Cupon, All rights reserved.</div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown({
                belowOrigin: true,
            });
            $('.dropdown-buttonUsuario').dropdown({
                        hover: true,
                        belowOrigin: true, // Displays dropdown below the button
                    }
            );
        });
    </script>

{% endblock %}

{% block lobibox %}{% endblock %}
</body>
</html>
