<div id = "login-page" class = "row">
    <div class = "col s12 card-panel">
        <h5 class="center">Accede a tu cuenta</h5>
        <form   action=" {{ path('login_check') }}" method = "post">
            <!--  En caso de que se de un error en el login -->
            {% if error %}
                <div class = "red center">{{ error }}</div>
            {% endif %}


            <div class = "row ">
                <div class = "input-field col s12" >
                    <i class = "material-icons prefix">person</i>
                    <input type = "text" id = "username" name = "_username" value="{{ last_username }}">
                    <label for = "username">Nombre de usuario</label>
                </div>
            </div>
            <div class = "row" >
                <div class = "input-field col s12">
                    <i class = "material-icons prefix">lock</i>
                    <input type = "password" id = "password" name = "_password">
                    <label for = "password">Contraseña</label>
                </div>
            </div>

            <div class = "row" >
                <div class = "input-field col s12 m12 l12 login-text" style="margin-top: 0em">
                    <input type = "checkbox" id = "no_cerrar" name="_remember_me" >
                    <label for = "no_cerrar">No cerrer sesion</label>
                </div>
            </div>
            <div class = "row">
                <div class = "input-field col s12">
                    <!--<a href = "index.html" class = "btn waves-effect waves-light col s12">Ingresar</a>-->
                    <button type = "submit" class = "btn waves-effect waves-light col s12">Acceder</button>
                </div>
            </div>
            <div class = "row">
                <div class = "col s3 m6 l12">
                    <p class = "margin medium-small center"><a href = "{{ path('registro2') }}">Registrarse</a></p>
                </div>
            </div>

        </form>
    </div>
</div>
