<title>{% block title %} Acceder como usuario {% endblock %}</title>

{% block librerias %}
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize/css/materialize.min.css') }}"
          media = "screen,projection"/>
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize_admin/css/style.css') }}"
          media = "screen,projection"/>
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize_admin/css/page-center.css') }}"
          media = "screen,projection"/>
    <!--Import Google Icon Font-->
    <link href = "http://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<body class = "cyan">
<!-- Start Page Loading -->

<div id = "loader-wrapper">
    <div id = "loader"></div>
    <div class = "loader-section section-left"></div>
    <div class = "loader-section section-right"></div>
</div>

<!-- End Page Loading -->

<div id = "login-page" class = "row">
    <div class = "col s12 z-depth-4 card-panel">
        <form class = "login-form" action = " {{ path('login_check') }} " method = "post">
            <div class = "row">
                <div class = "input-field col s12 center">
                    <img src = "{{ asset('imagenes/logo.jpg') }}" alt = ""
                         class = "responsive-img ">
                    <p class = "center login-form-text">Cupon</p>
                </div>
            </div>
            <!--  En caso de que se de un error en el login -->
            {% if error %}
                <div class = "red center">{{ error }}</div>
            {% endif %}

            <div class = "row margin">
                <div class = "input-field col s12">
                    <i class = "mdi-social-person-outline prefix"></i>
                    <input type = "text" id = "username" name = "_username" value = "{{ last_username }}">
                    <label for = "username">Nombre de usuario</label>
                </div>
            </div>
            <div class = "row margin">
                <div class = "input-field col s12">
                    <i class = "mdi-action-lock-outline prefix"></i>
                    <input type = "password" id = "password" name = "_password">
                    <label for = "password">Contraseña</label>
                </div>
            </div>

            <div class = "row">
                <div class = "input-field col s12 m12 l12  login-text">
                    <input type = "checkbox" id = "no_cerrar" name = "_remember_me">
                    <label for = "no_cerrar">No cerrer sesion</label>
                </div>
            </div>
            <div class = "row">
                <div class = "input-field col s12">
                    <!--<a href = "index.html" class = "btn waves-effect waves-light col s12">Ingresar</a>-->
                    <button type = "submit" class = "btn waves-effect waves-light col s12">Acceder</button>
                </div>
            </div>
            <div class = "row">
                <div class = "input-field col s3 m6 l3">
                    <p class = "margin medium-small"><a href = "{{ path('registro') }} ">Registrarse</a></p>
                </div>
                <div class = "input-field col s9 m6 l9">
                    <p class = "margin right-align medium-small"><a href = "page-forgot-password.html">Olvide mi
                            contraseña</a></p>
                </div>
            </div>

        </form>
    </div>
</div>
</body>


<!-- ================================================
  Scripts
  ================================================ -->

<!-- jQuery Library -->
<script type = "text/javascript" src = "{{ asset('libs/materialize/js/jquery.js') }}"></script>
<!--materialize js-->
<script type = "text/javascript" src = "{{ asset('libs/materialize/js/materialize.min.js') }}"></script>

<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type = "text/javascript" src = "{{ asset('libs/materialize_admin/js/plugins.js') }}"></script>


{% endblock %}


{% block footer %}
{% endblock %}