<html>
<head>
    <title>Registro de Usuario</title>

    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize/css/materialize.css') }}"
          media = "screen,projection"/>
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize_admin/css/style.css') }}"
          media = "screen,projection"/>
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/materialize_admin/css/page-center.css') }}"
          media = "screen,projection"/>

    <!--Import Google Icon Font-->
    <link href = "http://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">

    <!--Lollibox-->
    <link type = "text/css" rel = "stylesheet" href = "{{ asset('libs/lolibox/css/Lobibox.min.css') }}">
    <script src = "{{ asset('libs/lolibox/js/lobibox.min.js') }}"></script>

    <!--jquery-->
    <script type = "text/javascript" src = "{{ asset('libs/materialize/js/jquery.js') }}"></script>

    <!--materialize js-->
    <script type = "text/javascript" src = "{{ asset('libs/materialize/js/materialize.js') }}"></script>

    <!--jquery validation !-->
    <script src = "{{ asset('libs/validation/jquery.validate.js') }}"></script>
    <script src = "{{ asset('libs/validation/additional-methods.js') }}"></script>
    <script src = "{{ asset('libs/validation/localization/messages_es.js') }}"></script>

    <!--mask-->
    <script src = "{{ asset('libs/mask/jquery.mask.js') }}"></script>

    <script>
        $(document).ready(function () {

            //metodo ajax que se usa junto con jquery validator
            $.validator.addMethod("checkEmail",
                    function (value, element) {
                        var result = false;
                        $.ajax({
                            type: "POST",
                            async: false,
                            url: "{{ asset('libs/utils/checkEmail.php') }}", // script to validate in server side
                            data: {email: value},
                            success: function (emailLibre) {
                                if (emailLibre == 1) {
                                    result = true;
                                }
                                else
                                    result =  false;
                            }
                        });
                        // return true if username does not exist in database
                        return result;
                    },
                    "This email is already taken! Try another."
            );

            //select input
            $('select').material_select();

            // Pikadate datepicker
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 80,// Creates a dropdown of 15 years to control year
            });


            //HACIENDO USO DE MASK
            $('#tarjeta').mask('0000-0000-0000-0000', {
                placeholder: "0000-0000-0000-0000"
            });

            $('#dui').mask('00000000-0', {
                placeholder: "99999999-9"
            });


            $("#formularioRegistro").validate({
                rules: {
                    nombre: "required",
                    apellidos: "required",
                    fecha: "required",
                    dui: "required",
                    direccion: "required",
                    tarjeta: "required",
                    ciudad: "required",
                    email: {
                        required: true,
                        email: true,
                        checkEmail: true

                    },
                    password: {
                        required: true,
                        minlength: 5
                    }
                    ,
                    password_repeat: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    }
                },
                //For custom messages
                messages: {
                    nombre: {
                        required: "Ingrese su nombre"
                    }
                    ,
                    apellidos: {
                        required: "Ingrese su apellido"
                    }
                    ,
                    fecha: {
                        required: "Ingrese su fecha de nacimiento"
                    }
                    ,
                    password: {
                        required: "Ingrese una contraseña",
                        minlength: "Debe de contener al menos 5 digitos"
                    }
                    ,
                    password_repeat: {
                        required: "Ingrese nuevamente su contraseña",
                        minlength: "Debe de contener al menos 5 digitos",
                        equalTo: "Ingrese la misma contraseña que sea igual que la anterior"
                    }
                    ,
                    email: {
                        required: "Ingrese su cuenta de correo",
                        email: "Ingrese un dominio valido: johndoe@dominio.com",
                        checkEmail: 'Correo ya en uso. Ingrese un email diferente'
                    }
                    ,
                    tarjeta: {
                        required: "Ingrese su tarjeta"
                    }
                    ,
                    ciudad: {
                        required: "Ingrese su ciudad"
                    }
                }
                ,
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                }

            })
            ;

        });
    </script>


</head>

<body class = "cyan">
<div id = "register-page" class = "row">
    <div class = "col s12 z-depth-4 card-panel">
        <form class = "col s12 formularioRegistro" id = "formularioRegistro" name = "formularioRegistro"
              action = "{{ path('registro2') }}" method = "post">

            <div class = "row">
                <div class = "col s12">
                    <div class = "input-field s12 center">
                        <h4 class = "header">Registrate</h4>
                        <h5 class = "center blue-text">¡Unete a nuestra pagina!</h5>
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col l6 s12">
                    <fieldset>
                        <legend>Datos Personales</legend>
                        <div class = "row margin">

                            <div class = "input-field col s6">
                                <i class = "mdi-social-person-outline prefix"></i>
                                <input type = "text" id = "nombre" name = "nombre">
                                <label for = "nombre">Nombre</label>
                            </div>

                            <div class = "input-field col s6">
                                <input type = "text" id = "apellidos" name = "apellidos">
                                <label for = "apellidos">Apellido</label>
                            </div>
                        </div>

                        <div class = "row margin">
                            <div class = "input-field col s12">
                                <i class = "material-icons prefix">cake</i>
                                <input type = "text" id = "fecha" name = "fecha" class = "datepicker">
                                <label for = "fecha">Fecha de Nacimiento</label>
                            </div>
                        </div>

                        <div class = "row margin">
                            <div class = "input-field col s12">
                                <i class = "material-icons prefix">credit_card</i>
                                <input type = "text" id = "dui" name = "dui">
                                <label for = "dui">Dui</label>
                            </div>
                        </div>

                        <div class = "row margin">
                            <div class = "input-field col s12">
                                <i class = "material-icons prefix">home</i>
                                <input type = "text" id = "direccion" name = "direccion"
                                       class = "materialize-textarea">
                                <label for = "direccion">Direccion</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class = "col l6 s12">
                    <fieldset>
                        <legend>Datos de Acceso</legend>

                        <div class = "row margin">
                            <div class = "input-field col s12">
                                <i class = "material-icons prefix">email</i>
                                <input type = "text" id = "email" name = "email">
                                <label for = "email">Correo</label>
                            </div>
                        </div>

                        <div class = "row margin">
                            <div class = "input-field col s12">
                                <i class = "material-icons prefix">lock</i>
                                <input type = "password" id = "password" name = "password">
                                <label for = "password">Contraseña</label>
                            </div>
                        </div>

                        <div class = "row margin">
                            <div class = "input-field col s12">
                                <i class = "material-icons prefix">lock</i>
                                <input type = "password" id = "password_repeat" name = "password_repeat">
                                <label for = "password_repeat">Repita contraseña</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class = "row">
                <div class = "col l12 s12">
                    <fieldset>
                        <legend>Datos Economicos</legend>
                        <div class = "row margin">
                            <div class = "input-field col l6 s12">
                                <i class = "material-icons prefix">credit_card</i>
                                <input type = "text" id = "tarjeta" name = "tarjeta">
                                <label for = "tarjeta">Numero de Tarjeta</label>
                            </div>

                            <div class = "input-field col l6 s12">
                                <select id = "ciudad" name = "ciudad" class = "required">
                                    <option value = "" disabled selected>Escoja una opcion</option>
                                    {% for ciudad in ciudades %}
                                        <option value = "{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <label>Seleccioe su ciudad</label>
                            </div>
                        </div>

                        <div class = "row center">
                            <div class = "col s12 l12">
                                <input type = "checkbox" id = "usuario_permite_email" name = "usuario_permite_email">
                                <label for = "usuario_permite_email">Permite Email</label>

                            </div>
                        </div>

                    </fieldset>
                </div>

            </div>

            <div class = "center">
                <button class = "btn waves-effect waves-light" type = "submit" name = "action">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>