{% extends 'base.html.twig' %}

{% block title %} Portada Extranet | Cupon Extranet {% endblock %}

{% block style %}
    <style>
        header, main, footer {
            padding-left: 240px;
        }

        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }

        /*Para que no se vean tan grandes los links de los menus de los sideNav*/
        /* ul.side-nav.fixed li a {
             font-size: 13px;
             line-height: 44px;
             height: 44px;
         }

         ul.side-nav li a {
             font-size: 13px;
             line-height: 44px;
             height: 44px;
         }

          main{
            height: 578px;
        }
     */

        /** Para que el contenido siempre abarque el 90% de ancho sin importar el tamaño de la pantalla*/
        .container{
            width: 90% !important;
        }






    </style>
{% endblock %}

{% block header %}
    <div class = "navbar-fixed">
        <nav class = "blue darken-2">

            <div class = "nav-wrapper">
                <div class = "">
                    <a class = "brand-logo center" href = "{{ path('portadaExtranet') }}">Cupon Extranet</a>
                    <a href = "#" data-activates = "barraMenu" class = "button-collapse"><i class = "material-icons"
                                                                                            style = "margin-left: 25px">menu</i></a>

                    <ul class = "right  hide-on-small-and-down">

                        <li><a class = "dropdown-buttonUsuario" data-position = "bottom" data-delay = "50"
                               href = "#!" data-activates = "dropdownUsuario">
                                <i class = "material-icons left">account_circle</i>

                                {# Obtengo el nombre del usuario sin colocar el token en el contralador #}
                                {{ app.user.nombre }}

                            </a>
                        </li>


                    </ul>

                    <!--SideNav Estatico o FIXED !-->
                    <ul id = "barraMenuEstatico" class = "side-nav fixed" style = "width: 240px; margin-top: 64px">
                        <li class = "logo" style = "margin-bottom: 110px; margin-top: 10px">
                            <a id = "logo-container" href = "{{ path('portadaExtranet') }}" class = "brand-logo center">
                                <img src = "{{ asset('imagenes/logo.jpg') }}" style = "height: 100px">
                            </a>
                        </li>

                        <li><a href = "{{ path('portadaExtranet') }}" style = "font-weight: bold">Ofertas</a></li>
                        <li><a href = "{{ path('perfilExtranet') }}" style = "font-weight: bold">Mis Datos</a></li>

                        <ul class = "collapsible collapsible-accordion">
                            <li><a class = "collapsible-header  waves-effect waves-teal" style = "font-weight: bold">Ayuda
                                    al Cliente</a>
                                <div class = "collapsible-body">
                                    <ul>
                                        <li><a href = "color.html">Tel: 902 XXX XXX</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </ul>

                    <!--SideNav que se activa con el boton menu !-->
                    <ul id = "barraMenu" class = "side-nav" style = "width: 240px;">
                        <li class = "logo" style = "margin-bottom: 110px;">
                            <a id = "logo-container" href = "prueba.html" class = "brand-logo">
                                <img src = "{{ asset('imagenes/logo.jpg') }}" style = "height: 100px">
                            </a>

                        </li>
                        <li><a href = "{{ path('portadaExtranet') }}" style = "font-weight: bold">Ofertas</a></li>
                        <li><a href = "{{ path('perfilExtranet') }}" style = "font-weight: bold">Mis Datos</a></li>
                        <ul class = "collapsible collapsible-accordion">
                            <li><a class = "collapsible-header  waves-effect waves-teal" style = "font-weight: bold">Ayuda
                                    al Cliente</a>
                                <div class = "collapsible-body">
                                    <ul>
                                        <li><a>Tel: 902 XXX XXX</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </ul>

                    <ul id = "dropdownUsuario" class = "dropdown-content">
                        <li><a href = "{{ path('perfilExtranet') }}">Ver mi perfil</a></li>
                        <li><a href = "{{ path('extranet_logout') }}">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class = "row">
        <div class = "col s12 m12 l8">
            <article>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </article>
        </div>
        <div class = "col s12 m12 l4">
            <article>
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">FAQ</span>
                        <p>¿Lorem ipsum dolor sit amet?
                        Consectetur adipisicing elit, sed do eiusmod tempor.
                        ¿Ut enim ad minim veniam?
                        Quis nostrud exercitation ullamco laboris nisi.
                        ¿Excepteur sint occaecat cupidatat non proident?
                        Sunt in culpa qui officia deserunt mollit anim laborum.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </article>
        </div>
    </div>


{% endblock %}

{% block javascript %}

{% endblock %}

