{% set comprada = comprada | default(false) %}
{# si la oferta no ha expirado el resultado sera false #}
{% set expirada = oferta.fechaExpiracion | date('YmdHis') < 'now' | date('YmdHis','America/El_Salvador') %}


<div class = "oferta-mini">
    <div class = "row">
        <div class = "col s12 m12 l6">
            <div class = " section description">
                <h4 class = "center-align">
                    <a href = "{{ path('detalles_oferta', { 'ciudad': oferta.ciudad.ficha, 'ficha': oferta.ficha}) }}"> {{ oferta.nombre }}</a>
                </h4>
                {{ oferta.descripcion | mostrar_como_lista }}
            </div>
            <div class = "row">
                {# Si la oferta aun no ha expirado y no ha sido comprada el boton comprar se mostrara#}
                {% if not expirada and not comprada %}
                    <div class = "col s12 m12 l6">
                        <div class = "center-align">
                            <a class = "waves-light waves-teal btn " href = "#">Comprar</a>
                        </div>
                    </div>
                {% endif %}
                <div class = "col s12 m12 l6">
                    <div class = "estado {{ expirada ? 'expirada' : '' }} {{ comprada ? 'comprada' : '' }} center-align"
                         style = "padding-top:5%;">
                        {% if comprada %}
                            Comprada el {{ fechaCompra | date('d/m/Y') }}
                            {# si la oferta no ha sido ha sido comprada y ya ha expirado
                              La sentencia elseif es ejecutada solamente si la expresión if precedente y cualquiera de las expresiones
                              elseif precedentes son evaluadas como FALSE, y la expresión elseif actual se evalúa como TRUE.

                             not es para verificar si un valor es falso
                             #}
                        {% elseif not expirada %}
                            <div class="left-align">
                                <span>Faltan: <div data-countdown = "{{ oferta.fechaExpiracion | date('m/d/Y') }}"></div></span>
                            </div>
                        {% else %}
                            Finalizada el {{ oferta.fechaExpiracion | date('d/m/Y') }}
                        {% endif %}
                    </div>


                </div>


            </div>
        </div>


        <div class = "col s12 m12 l6 center-align">
            <div class = " section galeria" align = "center">
                <img class = "materialboxed" width = "200px" alt = "Fotografia de la oferta"
                     data-caption = "Imagen de muestra"
                     src = "{{ asset('uploads/images/' ~ oferta.foto ) }}" style = "margin-left: 0px">
                <div>
                    <div>
                        <p>Disfruta de esta oferta en <a
                                    href = " {{ path('tienda_portada',{'ciudad': oferta.tienda.ciudad.ficha, 'tienda': oferta.tienda.ficha }) }} ">{{ oferta.tienda.nombre }}</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<script>
    $('[data-countdown]').each(function () {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function (event) {
            var faltan = "Faltan: ";
            var totalHoras = event.offset.totalDays * 24 + event.offset.hours;
            $this.html(event.strftime(totalHoras + ' horas %M min %S seg'));
        });
    });
</script>

